.RHYLE-header{

  
  margin-bottom: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
  width: 100vw;
  margin-right: 100px;
  background-color: #6f4e37;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
      text-align: center;
      background: #8B4513; /* Coffee Brown */
      color: white;
      padding: 10px 0; /* Adjust padding */
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 0; /* Ensure no bottom margin */
  }
  
  


.dodo{
  border: none;
}

td{
  cursor: pointer;
}
button:Hover{
  color: red;
}



.RHYLE-footer{
  
  margin: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 105vw;
  bottom: 0;
  text-align: center;
  color: white;
  position: fixed;
  background-color: #6f4e37;
  
}

body{
  text-align: center;
  background-color: beige;
  height: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  margin: 0 auto;
  border: groove;
  border-radius: 20px;
  border-collapse: collapse;
  
  
}
div{
  margin: 0;
}

.secondrow{
  background-color: #a77a59;
  border: none;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  width: 99vw;
  height: 50px;
  color: white;


  
  
}
.div1{
  margin-top: 0;
  background-color: #8B4513;
}
.one{
  width: 20px;
  margin: 0;
  padding-left: 20vw;
}
.two{
  padding-right: 30px;

}
.three{
  padding-left:190px;

}

.four{
  padding-right: 20vw;

}
th, td {
  padding: 0px 50px;
  text-align: left;
  text-align: center;
  
}
div{
  padding: 12px;
}
.GWAPO-pic{
  width: 10px;
}
.U-w{
  color: red;
}
img{
  width: 300px;
  display: inline-block;
  margin: 0;
  object-fit: cover;
  
  display: inline-block;
  vertical-align: top;
}



