.RHYLE-header{
 display: flex;
  text-align: center;
  width: 1300px;
  margin-right: 100px;
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
      background: #8B4513; 
      color: white;
      padding: 10px 20px; 
      align-items: center;
      height: 200px;
     
     
      
      
  }
  
  .menu{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      
      cursor: pointer;
  }

  
  .button1{
    background-color:rgb(247, 100, 3);
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
     
  


.dodo{
  border: none;
}

td{
  cursor: pointer;
}
button:Hover{
 
}



.RHYLE-footer{
  
  margin: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 105vw;
  bottom: 0;
  text-align: center;
  color: white;
  position: fixed;
  background-color: #6f4e37;
  
}
.image1{
  width: 200px;
  height: auto;
  border-radius: 100px;
}

body{
  font-family: 'poppins',sans-serif;
  background-color: beige;
  height: 200vw;
  margin: 8;
  padding: 0;
  box-sizing: border-box;

}
table{

  margin: 0 auto;
  border: groove;
  border-radius: 20px;
  border-collapse: collapse;
  
  
}



.secondrow{

  border: 0;
  border: none;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  width: 100vw;
  height: 50px;
  color: white;


  
  
}
.div1{
  

  
}
.one{
  width: 5px;
 
}
.one:hover{
  text-decoration: underline;
  color: black;
}
.two{
  width: 5px;
 

}
.two:hover{
  text-decoration: underline;
  color: black;
}
.three{
  width: 5px;


}
.three:hover{
  text-decoration: underline;
  color: black;
}

.four{
  text-align: right;
  width: 5px;
  margin-right: 20px;
  
}
.four:hover{
  text-decoration: underline ;
  color: black;

}

.five{
  text-align: right;
  
  
}

.five:hover{
  text-decoration: underline ;
  color: black;
}
th, td {
  padding: 0px 50px;
  text-align: left;
  text-align: center;
  
}

.GWAPO-pic{
  width: 10px;
}
.U-w{
  color: red;
}
img{
  width: 300px;
  display: inline-block;
  margin: 0;
  object-fit: cover;
  display: inline-block;
  vertical-align: top;
}
.pogi-ko{
  text-align: center;
}

.pogi-ka{
  text-align: center;
}

.form1{
  display: inline-block;
  margin-top: 80px;
  margin-left: 40px;
  width: 100;
  max-width: 290px;
  background-color: #ffff;
  margin: 100px auto 70px;
  padding: 30px 30px 70px;
  padding-left: 20px;
  border-radius: 10px;
  height: fit-content;
  gap: 10px;
}


.picture-container{
  
  max-width: 100px;
  display: inline-block;
  margin-left: 100px;
}

.picture-container1{
  width: 100;
  max-width: 100px;
  display: inline-block;
  margin-left: 300px
}
.picture-container2{
  width: 100;
  max-width: 100px;
  display: inline-block;
  margin-left: 300px

}
ul{
  list-style: none;
  display: flex;
    gap: 80px; 
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
    border: none;
}




.buy-btn:hover{
  color: red;
}

.coffee1{
  display: inline-block;
}

.php{
  display: inline-block;
  margin-left: 100px;
}

.button2{
  text-align: center;
  height: 50px;
}
.button3{
  width:100px;
  height: 40px;
  margin-top: 50px;
  background-color:#007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
