<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact us</title>
  <link rel="stylesheet" href="contact.css">
</head>
<body>
  <div class="container2">
    <div>
      <form class="red" >
      <img src="/pic/3.png" alt="">
        
      <p class="p1">EMAIL</p>
      <a class="a1" href="#">donorhyle10@gmail,com</a>
    </form>
    </div>
  </div>
  <div class="container2">
    <div>
      <form class="red" >
      <img src="/pic/3.png" alt="">
        
      <p class="p1">PHONE NUMBER</p>
      <p class="p1">096-5769-0701</p>
     
    </form>
    </div>
  </div>
  <div class="container2">
    <div>
      <form class="red" >
      <img src="/pic/3.png" alt="">
        
      <p class="p1">OUR MAIN OFFICE</p>
      <p class="p1">sanro 90 broadway st</p>
    </form>
    </div>
  </div>
  <div class="container2">
    <div>
      <form class="red" >
      <img src="/pic/3.png" alt="">
        
      <p class="p1">FAX</p>
      <p class="p1">1-234-567-8900</p>
    </form>
    </div>
  </div>

 <div class="container">
  <p>CONTACT US</p>
  <input type="text" placeholder="Enter your Name" required >
  <input type="email" placeholder="Enter a valid email address" required >
  <textarea name="" id=""></textarea>
  <input class="submit1" type="submit">
 </div>
  
</body>
</html>